/* Login page impress box. */
#impress-box {
    margin: 1em 0;
    border: 1px solid #999999;
}

#impress-box > .boxcontent {
    padding: 2em;
}

/* Impress task within application. */
#taskbar .button-impress {
    background-image: url('impress.png');
}

#mainscreen > .impress {
    position: relative;
    height: 100%;
}

#mainscreen > .impress > .impress-container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}