<b>ACME Inc.</b>
</p>
123, Example Street<br />
Kingston, New York 12401<br />
USA<br />
<a href="mailto:support@example.com">support@example.com</a><br />
<a href="https://example.com/">https://example.com/</a><br />
<br />
Person responsible in the sense of the press legislation: John Smith<br />
<br />
Tax ID Number (§ 27a value added tax law): DExxxxxxxxx