<div id="impress-box">
  <div class="boxtitle">
    <roundcube:label name="roundcube_impress.page-title" />
  </div>
  <div class="boxcontent">
    <roundcube:object name="impresscontent" id="impresscontentframe" src="env:blankpage" title="impress.arialabelimpresscontent" />
  </div>
</div>