<b>ACME Inc.</b>
</p>
Musterstr. 123<br />
12345 Musterstadt<br />
Deutschland<br />
<a href="mailto:support@example.com">support@example.com</a><br />
<a href="https://example.com/">https://example.com/</a><br />
<br />
Verantwortlich im Sinne des Presserechts: Max Mustermann<br />
<br />
Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG: DExxxxxxxxx