<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />

<div id="layout-content" class="selected" role="main">
  <div class="header">
    <div class="header-expand">
      <span id="aria-label-impress" class="header-title"><roundcube:label name="roundcube_impress.page-title" /></span>
    </div>
  </div>
  <div class="iframe-wrapper" id="impresscontent">
    <roundcube:object name="impresscontent" id="impresscontent-frame" src="env:blankpage" title="impress.arialabelimpresscontent" />
  </div>
</div>

<roundcube:include file="includes/footer.html" />