/* Login page impress box. */
#impress-box {
    margin: 2em 50px 0 50px;
    background: linear-gradient(to bottom, #404040 0, #2e2e2e 100%);
    padding: 10px 24px 24px 24px;
    border-radius: 6px;
    color: #cecece;
}

#impress-box a {
    color: #cedeff;
}

#impress-box > .boxcontent {
    padding: 2em 1em 0 1em;
}