/* Impress task within application. */
.menu a.impress:before {
    content: "\f5bf";
}

#impresscontent {
    padding: 1em;
}

/* Make pseudo-header visible.
   Be specific about the header element, as some attributes are overwritten. */
#layout > div > .header > .header-expand {
    padding: 0;
}

#layout > div > .header > .header-expand > .header-title {
    margin: 0;
}